body {
    background-image: url('../assets/backgroundIMG.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: auto;
}

main {
    margin-top: 2rem;
}

.loader {
    border: 0.5rem solid #003a70;
    border-top: 0.5rem solid #3d7dca;
    border-radius: 90%;
    width: 15rem;
    height: 55rem;
    animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.red-dot {
    background-color:#FB1B1B; /* Use Tailwind colors */
}

.yellow-dot {
    background-color: #ffcb05; /* Use Tailwind colors */
}

.green-dot {
    background-color:#03C04A; /* Use Tailwind colors */
}

