body {
    background-image: url('../assets/pokemons3.jpg'); /* Ensure the path is correct */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh; /* Ensure body takes full height */
    overflow: hidden;
}
